.list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    ul {
      background-color: #fff;
      width: 100%;
      max-height: 23rem;
      overflow: hidden;
      overflow-y: scroll;
        li:nth-child(even) {
          background-color: #f0f0f0;
        }
      .item-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        padding: .3rem .5rem;
        border-bottom: 1px solid #d8d8d8;
        cursor: pointer;

        &:hover {
          background: #d8d8d8;
        }
        &__poster {
          min-width: 3rem;
          max-width: 3rem;
          img {
            width: 100%;
          }
        }
        &__title {
          font-size: 1em;
          font-weight: 500;
          .character {
            font-size: .8rem;
            font-weight: 500;
            span {
              font-weight: 300;
            }
          }
        }
        &__media {
          font-style: italic;
        }
        &__year {
          margin-left: auto;
          color: #585858;
        }
      }
    }
  }
