.items-scrolling-infinite-list {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
    z-index: 1;
  }
  
  .loop-slider {
    overflow: hidden;

    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
  }
  
  .item-scrolling-infinite-list {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    width: 10rem;
    height: 15rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    border-radius: 0.4rem;
    margin-right: 1rem; // Must used margin-right instead of gap for the loop to be smooth
    box-shadow: 
      0 0.1rem 0.2rem rgb(0 0 0 / 20%),
      0 0.1rem 0.5rem rgb(0 0 0 / 30%),
      0 0.2rem 1.5rem rgb(0 0 0 / 40%);
    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
        border-radius: 0.4rem;
    }
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }