.cards-container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    place-content: center;
    gap: 1rem;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, 9rem);
    }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}