.category-container-desktop {
  &__buttons {
      bottom: 0;
      background: rgb(2, 131, 145);
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      font-family: "Open Sans", sans-serif;
      padding: .8rem 0;
  
      button {
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 50px;
        width: 200px;
        background: rgba(1, 32, 78, 0.651);
        color: #fff;
        border-radius: 5px;
        font-weight: 600;
        transition: .3s ease all;
    
        &:hover {
          background: rgb(55, 181, 182);
        }
      }
    }
}

  
.activebtn {
    background-color: rgb(55, 181, 182) !important;
}
  
.category-container-mobile {
    display: none;
    position: relative;
  
    &__dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem;
      background-color: rgb(1, 23, 56);
      position: relative;
      z-index: 3;
  
      h4 {
        font-size: 1.2rem;
        color: #fff;
      }
  
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
  
        svg {
          width: 100%;
          fill: #fff;
        }
      }
    }
  
    &__buttons {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(2, 131, 145);
      transition: all 1s ease;
      z-index: 2;
      position: absolute;
      top: 59px;
  
      ul {
        width: 100%;
  
        li {
          list-style: none;
          border-bottom: 0.05rem solid rgb(255, 255, 255, 0.1);
          display: flex;
          button {
            display: flex;
            font-size: 1rem;
            font-family: "Open Sans", sans-serif;
            color: #fff;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 1.4rem;
          }
        }
      }
    }
  }
  
  .openbox {
    transform: translateY(-100%);
    
  }
  
  @media screen and (max-width: 930px) {
    .category-container-mobile {
      display: block;
    }
  
    .category-container-desktop {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .category-container-mobile{
      &__dropdown {
        padding: 1rem 2rem;
      }
    } 
  }

  