.list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    ul {
      background-color: #fff;
      width: 100%;
      max-height: 36rem;
      overflow: hidden;
      overflow-y: scroll;
      .item-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        padding: 1rem;
        border-bottom: 1px solid #d8d8d8;
        cursor: pointer;
        &:hover {
          background: #d8d8d8;
        }
        &__poster {
          min-width: 3rem;
          max-width: 3rem;
          img {
            width: 100%;
          }
        }
        &__title {
          font-size: 1.1rem;
          font-weight: 400;
        }
        &__media {
          margin-left: auto;
        }
        &__media, &__year {
          color: #585858;
        }
      }
    }
  }
