.cards-container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 2rem;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}