.overlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .7);
    z-index: 4;
    overflow-y: scroll;
    overflow-x: hidden;

    .container-modal {
        margin: 1rem;
        background: #fff;
        border-radius: .3125rem;
        box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
        padding: 1.25rem;
        width: 90vw;
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
            h3 {
                font-weight: 500;
                font-size: 1.2rem;
                color: #1766dc;
            }
            .btn-close {
                width: 2.2rem;
                height: 2.2rem;
                border: none;
                background: none;
                cursor: pointer;
                transition: .3s ease all;
                border-radius:  .3125rem;
                color: #1766dc;
                &:hover {
                    background-color: #f2f2f2;
                }
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
