.watch_provider {
    .loading_provider {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .card_provider {
        width: 4rem;
        height: 4rem;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        img {
            width: 4rem;
            height: 4rem;
            vertical-align: center;
            border-radius: .5rem;
        }
    }
    .no_providers {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .8rem;
        font-size: .9rem;
    
    }
}